<% provide(:title, 'Help') %>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h1>Frequently Asked Questions</h1>
		<h3>What counts as a match?</h3>
		<p>Any real match where you play best of five games.  For example, house league matches, club tournament matches, or matches you arrange with your opponent.</p>
		<p>Round-robin games don't count, unless you and your opponent agree to make a best of five match out of your games together at round-robin.</p>
		<h3>What scoring system do we use?</h3>
		<p>It doesn't matter.  Point-a-rally ("PAR") to 15 is fine, but so is point-a-serve to 9, or PAR-11.  Whatever you and your opponent agree to, so long as it is best-of-five games</p>
		<h3>My opponent hasn't registered on this site - can i still report the score?</h3>
		<p>No - the points calculation requires that both players be registered and have a current ranking score.  So encourage the people you play to sign up if they haven't yet!</p>
		<h3>What if an incorrect score gets posted?</h3>
		<p>Just <a href='mailto:terry.pritchard@rogers.com'>email me</a> and I'll delete the score.</p>
		<h3>How are points calculated?</h3>
		<p>The formula (called the "Elo Rating System") is a bit complicated, but if you're interested you can read about it <a href="http://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">here.</a></p>
		<p>When you win a match, the number of points you earn depends on a) the difference in ranking points between you and your opponent (underdog wins = more points) and b) the score of your match in games (a 3-0 results in more points than 3-2).  The amount of points the loser gives up is equal to the number of points the winner gains.</p>
		<p>If you and your opponent have equal ranking points, the points work out to...</p>
		<p>3-0: 25 points, 3-1: 19 points, 3-2: 13 points.</p>
		<p>But if you have different ranking points, the results will be different, depending on whether the lower ranked or higher ranked player wins.</p>
	</div>
</div>