<div class="row">
  <div class="col-md-6 col-lg-4 col-lg-offset-2">
    <div class="row">
      <table class="table table-hover table-condensed">
        <caption><h3>Recent News</h3></caption>
        <%= render :partial => "frontnews", :collection => @news %>
      </table>
    </div>
    <div class="row">
      <img src="http://i.imgur.com/dEkrCrm.jpg" width="75%" title="Jeremy Serves Against Fit City in Div 4 T&D Play"/>
      <p align="center">The Div 4 team took a 5-0 victory on Friday against Fit City!</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="row">
      <table class="table table-hover table-condensed">
        <caption><h3>Upcoming Events</h3></caption>
        <%= render :partial => "frontevent", :collection => @events %>
      </table>
    </div>
    <div class="row">
      <table class="table table-hover table-condensed">
        <caption><h3>Recent Scores</h3></caption>
        <tr><th>Date</th><th>Result</th><th>Score</th><th>Points</th></tr>
        <%= render :partial => "frontscore", :collection => @frontscores %>
      </table>
      <div class="text-center"><%= link_to "Enter a Score", new_score_path, class: "btn btn-large btn-primary" %></div>
    </div>
</div>
	  
