<h3>HRC Squash</h3>
<p>Top Ten</p>

<table class="table table-striped table-condensed">
  <% @users.each do |user| %>
    <tr><td><%=link_to user.name, user %></td><td><%= user.points.to_s %><td></tr>
  <% end %>
</table>

<p>Recent Scores</p>

<table class="table table-striped table-condensed">
  <%= render :partial => "frontscore", :collection => @frontscores %>
</table>
