<div class="row">
  <div class="col-lg-6 col-lg-offset-3" >
    <% @news.each do |news_item| %>
      <div>
        <h4><%= news_item.title %></h4>
        <p><%= news_item.body %></p>
      </div>
    <% end %>
  </div>
</div>